<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('./partials/head'); %>
  </head>
  <body>
    <%- include('./partials/menuHead'); %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <a href="/encriptarOne">Encriptación cifrado AES</a>
  </body>
</html>
